.example-container {
    padding-top: 36px
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.example-button-row {
  padding: 8px 8px 8px 0;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.submit {
  background: #FFD862 !important;
  color: #002C63 !important;
}

.clear {
  color: #002C63 !important;
}
